<footer>
  <div class="social">
    <i class="fa-brands fa-square-facebook"></i>
    <i class="fa-brands fa-square-instagram"></i>
    <i class="fa-brands fa-linkedin"></i>
  </div>
  <div>&copy;Elite Stays Company Limited</div>
  <div class="links">
    <a href="/terms">Terms</a>
    <a href="/conditions">Conditions</a>
  </div>
</footer>
