<% layout("layouts/boilerplate.ejs") %>
<body>
  <h1>Create a New Listing.</h1>
  <div class="create">
    <form
      class="createForm needs-validation"
      action="/listings"
      method="post"
      novalidate
    >
      <div class="form-group">
        <label for="formGroupExampleInput">Title:</label>
        <input
          name="title"
          type="text"
          class="form-control"
          id="formGroupExampleInput"
          placeholder="Enter Title "
          required
        />
        <div class="valid-feedback"></div>
        <div class="invalid-feedback">Please choose a Title.</div>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Discription:</label>
        <input
          name="discription"
          type="text"
          class="form-control"
          id="formGroupExampleInput2"
          placeholder="enter discription"
          required
        />
        <div class="valid-feedback"></div>
        <div class="invalid-feedback">Please Discription of Listing.</div>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput3">Image:</label>
        <input
          name="image"
          type="text"
          class="form-control"
          id="formGroupExampleInput3"
          placeholder="Add Image URL / Link"
        />
        <div class="valid-feedback"></div>
        <div class="invalid-feedback">Please paste the Image Link.</div>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput4">Price:</label>
        <input
          name="price"
          type="number"
          class="form-control"
          id="formGroupExampleInput4"
          placeholder="Enter Price"
          required
        />
        <div class="valid-feedback"></div>
        <div class="invalid-feedback">Please Select Appropriate Price.</div>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput5">Location:</label>
        <input
          name="location"
          type="text"
          class="form-control"
          id="formGroupExampleInput5"
          placeholder="Enter City Name"
          required
        />
        <div class="valid-feedback"></div>
        <div class="invalid-feedback">
          Please Enter the Location of Listing.
        </div>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput6">Country:</label>
        <input
          name="country"
          type="text"
          class="form-control"
          id="formGroupExampleInput6"
          placeholder="Enter Country"
          required
        />
        <div class="valid-feedback"></div>
        <div class="invalid-feedback">Please choose a Country.</div>
      </div>
      <button type="submit" class="createBtn">Create New List</button>
    </form>
  </div>
</body>
