<% layout("layouts/boilerplate.ejs") %>

<div class="row">
  <div
    class="alert alert-danger d-flex align-items-center mt-4 col-6 offset-3"
    role="alert"
  >
    <div class="alert-heading"><%= message %></div>
  </div>
</div>
