<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Easy Stays | Listings</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Listings</h1>
      <div class="listings">
        <% for(listing of listings){ %>
        <div class="card">
          <h3><%= listing.title %></h3>
          <p><%= listing.price %></p>
          <p><%= listing.location %></p>
          <p><%= listing.country %></p>
        </div>
        <%}%>
      </div>
    </div>
  </body>
</html>
