* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}
.card {
  background-color: aqua;
}
