@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
h1 {
  text-align: center;
  margin-top: 2rem;
  font-weight: bold;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listings {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  column-gap: 24px;
  row-gap: 24px;
}
.listingcard {
  width: 300px !important;
  height: 400px !important;
  /* background-color: aqua !important; */
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border: none;
}
a .card:hover {
  transform: scale(1.05);
}

.img {
  width: 100% !important;
  height: 70% !important;
}
.listImage {
  width: 50rem;
  height: 35rem;
  object-fit: cover;
}

.img img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  border-radius: 16px;
}
a {
  text-decoration: none;
  color: black;
}
.cardContent {
  padding: 0.75rem;
}
.cardContent p {
  font-size: 1.5rem;
  font-weight: bold;
}
.cardContent span {
  font-size: 0.8rem;
}

.navbar {
  height: 5rem;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 8px;
  margin-top: 20px;
  background-color: rgb(240, 240, 240);
}

.social {
  font-size: 2rem;
}
.links {
  display: flex;
  gap: 12px;
}
.cardContent h3 {
  font-size: 1rem !important;
}
.listings {
  margin-top: 40px;
}
.createBtn {
  padding: 12px 24px;
  background-color: rgb(255, 95, 95);
  border-radius: 50px;
  color: white;
  border: none;
  transition: all 0.2s ease-in-out;
}
.createBtn:hover {
  transform: scale(1.05);
  background-color: rgb(252, 74, 74);
}
i {
  color: rgb(255, 95, 95);
  margin-right: 4px;
}

.createForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 3rem 0;
  margin: 0 25%;
}

.form-group {
  width: 80%;
}
.navbar-brand {
  color: rgb(255, 95, 95);
  font-size: 2rem;
  font-weight: bold;
  margin: 0 2rem;
}
.btn {
  display: flex;
  gap: 2rem;
}

#map {
  width: 50vw;
  height: 30vw;
}
.bold {
  font-weight: bold;
}
#filters {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 2rem;
}
.filter {
  text-align: center;
  margin-top: 20px;
  opacity: 0.7;
  transition: all 150ms;
}
.filter:hover {
  opacity: 1;
}
.miniNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tax {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  padding: 0.6rem;
  border-radius: 8px;
}
.lowSize {
  display: none;
  font-size: 0.8rem;
}
