@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listings {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  column-gap: 24px;
  row-gap: 24px;
}
.card {
  width: 300px !important;
  height: 350px !important;
  background-color: aqua !important;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
a .card:hover {
  transform: scale(1.05);
}

.img {
  width: 100% !important;
  height: 70% !important;
}

.img img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}
a {
  text-decoration: none;
  color: black;
}
.cardContent {
  padding: 0.75rem;
}

.navbar {
  height: 5rem;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 8px;
  margin-top: 20px;
}

.social {
  font-size: 2rem;
}
